<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="/css/main.css")
        title Tasky
    body
        .container_full.white 
            .landing_content
                .landing_content_text 
                    h1 Tasky
                    p A simple way to keep track of all your projects from start to finish.
                    div
                        a(href="/dashboard/user/register").btn Register account
                .landing_content_images
                    img(src="/images/app3.png").landing_content_images_3
                    img(src="/images/app2.png").landing_content_images_2
                    img(src="/images/app1.png").landing_content_images_1

                

